<%- include('./partials/header.ejs') %>

    <main>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Numquam accusamus aperiam temporibus rerum soluta ipsa assumenda nostrum magnam minus provident mollitia
            qui
            ipsum,
            neque voluptatum quia in tempora fuga vel.
        </p>
        <!-- <img src="/img/pancakes.jpg" alt=""> -->
    </main>

    <%- include('partials/footer.ejs') %>