nav ul {
  display: flex;
  border-bottom: 2px solid grey;
}

nav ul li {
  list-style-type: none;
  margin-inline: 1rem;
}

nav ul li a {
  color: red;
  text-decoration: none;
  font-size: 1.5rem;
}

.recipe__container {
  border: 2px solid grey;
  padding: 10px;
  width: 300px;
}

img {
  width: 100%;
}
